//
// Tables
//
// stylelint-disable max-nesting-depth, selector-no-type, selector-max-type

.table-wrapper {
  display: block;
  width: 100%;
  max-width: 100%;

}



table {
  display: table;
  min-width: 100%;
  border-collapse: separate;
}

th,
td {
  @include fs-3;
  min-width: 120px;

  &:first-of-type {
    border-left: 0;
  }
}

tbody {
  tr {
    &:last-of-type {
      th,
      td {
        border-bottom: 0;
      }

      td {
        padding-bottom: $sp-3;
      }
    }
  }
}

thead {
  th {
    // border-bottom: $border $border-color;
  }
}
